In [26]:
# load in libraries

import pandas
import pandas_gbq
from google.cloud import bigquery
from google.oauth2 import service_account

In [32]:
# define credentials object for GCP to run queries

credentials = service_account.Credentials.from_service_account_file(
    '/Users/KevinLubin/Desktop/ds/pearl/pearl-336700-0fa91569420d.json')

In [ ]:
# TODO: Edit query so that it only contains news sources from Country 1

In [59]:
# Perform query

query = """

    SELECT GlobalEventID, SQLDATE, EventRootCode, Quadclass, Actor1Type1Code, Actor2Type1Code, AvgTone,
    GoldSteinScale, NumMentions, Sourceurl

    FROM `gdelt-bq.full.events`

    WHERE (SQLDATE >= 20210101 AND SQLDATE <= 20211231)

    AND (Actor1CountryCode = 'LBN')

    AND (Actor2CountryCode = 'HTI')

    AND (Actor1CountryCode != Actor2CountryCode)

    GROUP BY SQLDATE, GlobalEventID, EventRootCode, Quadclass, Actor1Type1Code, Actor2Type1Code, AvgTone, 
    GoldSteinScale, NumMentions, Sourceurl
    
    ORDER BY SQLDATE, GlobalEventID, EventRootCode, Quadclass, Actor1Type1Code, Actor2Type1Code, AvgTone,
    GoldSteinScale, NumMentions, Sourceurl
    
"""

df = pandas_gbq.read_gbq(query, credentials=credentials)

Downloading: 100%|██████████| 1/1 [00:00<00:00,  7.26rows/s]

In [56]:
df.head()

,GlobalEventID,SQLDATE,EventRootCode,Quadclass,Actor1Type1Code,Actor2Type1Code,AvgTone,GoldSteinScale,NumMentions,Sourceurl
0,978185141,20210306,04,1,None,None,-3.159851,1.0,4,https://international.la-croix.com/news/religi...
1,978185149,20210306,04,1,None,None,-3.159851,1.0,4,https://international.la-croix.com/news/religi...
2,978185156,20210306,04,1,None,None,-3.159851,1.0,1,https://international.la-croix.com/news/religi...
3,978185165,20210306,04,1,None,None,-3.159851,1.0,1,https://international.la-croix.com/news/religi...
4,978185946,20210405,04,1,None,None,-3.159851,1.0,4,https://international.la-croix.com/news/religi...

In [60]:
df.Sourceurl.to_list()

['https://www.straitstimes.com/world/two-of-17-kidnapped-missionaries-in-haiti-are-freed-says-group']